body{
	background-image: url(./../images/photo-1523268755815-fe7c372a0349.jpg);
	background-size: cover; 
	font-family: Merriweather;
	height: 100%
}
#homepage_intro{
	color: cyan;
	border: 1px solid cyan;
	padding-bottom: 0px;
	margin-bottom: 0px;
	/*border-radius: 5%;*/
}
#homepage_intro h3{
	margin: 0px;
	padding-bottom: 0px;
	padding-right: 350px;
}
#icon:hover {
	background: green;
	transition: all 0.3s;
/*	padding-left: 5px;
	padding-right: 5px;*/
}
#icon{
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 10px;
	/*border: 1px round red;*/
}
#body_div{
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 60px;
}
#body_div h1{
	font-size: 4em;
}
#login_info{
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 60px;
}
#login_info h5{
	font-family: 'Cedarville Cursive', cursive;
}
#logo{
	margin-right: 4px;
}
hr {
	height: 1px;
	margin-left: 200px;
	background-color: white;
	border: none;
	width: 580px;
}
.loginbutton {
	color: rgb(60, 193, 60);
	border: rgb(60, 193, 60) solid 1px;
	background: none;
}

.loginbutton:hover {
	color: white;
	background: rgb(60, 193, 60);
	border: rgb(60, 193, 60);
}
